.table {
   width: 1in;
   height: 1in;
   margin: 18px;
   border-radius: 50%;
   border: 2px dashed black;
   position: relative;
}
.table.selected,
.table.assigned {
   border: 2px solid black;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-id {
   color: black;
   position: absolute;
   top: 0.9in;
   left: -0.1in;
   font-size: 16px;
}
