:root {
   --link-color: rgb(23, 92, 189);
}

.link-icon {
   width: 0.2in;
   height: 0.2in;
   display: flex;
   align-items: center;
   justify-content: center;
   fill: var(--link-color);
   border-radius: 4px;
   background-color: "transparent";
   transition: 0.25s ease;
}

.link-icon > svg {
   padding: 2px;
   width: 100%;
   height: 100%;
}

.link-icon:hover {
   box-shadow: 0 0 10px rgba(121, 121, 121, 0.5);
   background-color: var(--link-color);
   fill: white;
}
