.remove-wrapper {
}
.remove-party {
   width: 0.3in;
   height: 0.3in;
   fill: rgb(249, 97, 97);
   border-radius: 4px;
   background-color: transparent;
   transition: 0.25s ease;
}
.remove-party:hover {
   box-shadow: 0 0 10px rgba(121, 121, 121, 0.5);
   background-color: rgb(249, 97, 97);
   fill: white;
}

/* .remove-party {
   width: 0.3in;
   height: 0.3in;
   fill: rgb(249, 97, 97);
} */
