:root {
   --info-width: 400px;
   --info-padding-x: 24px;
   --info-padding-y: 24px;
}

.info-wrap {
   position: "relative";
   width: var(--info-width);
   height: 100vh;
}

.info-wrap-fixed {
   position: fixed;
   top: 16px;
   bottom: 16px;
   width: var(--info-width);
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.info-box {
   display: flex;
   flex-direction: column;
   gap: 24px;
   position: static;
   background-color: #fbfbfb;
   border: 1px solid #ccc;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   color: black;
   /* set padding from root variables */
   padding-top: calc(var(--info-padding-y) - 4px);
   padding-right: var(--info-padding-x);
   padding-bottom: var(--info-padding-y);
   padding-left: var(--info-padding-x);
   /* calculate width excluding padding */
   width: calc(var(--info-width) - var(--info-padding-x) * 2);
   transition: all 0.3s;
}
.party-input-label {
   font-size: 14px;
   font-weight: 300;
   margin-bottom: 0px !important;
   margin-top: -2px;
}
.input-group {
   display: flex;
   width: 100%;
   padding-top: 4px;
}

.name-input {
   font-size: 18px;
   padding: 8px;
   background-color: rgb(239, 239, 239);
   border: 1px solid #ccc;
   border-right: none;
   box-sizing: border-box;
   border-radius: 4px 0 0 4px;
   flex-grow: 1;
   width: 130px;
}

.number-input {
   font-size: 18px;
   width: 50px;
   padding: 8px;
   background-color: rgb(239, 239, 239);
   border: 1px solid #ccc;
   border-right: none;
   box-sizing: border-box;
   text-align: center;
   appearance: textfield;
   -moz-appearance: textfield;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.add-button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px 0;
   background-color: rgb(195, 238, 197);
   font-size: 14px;
   font-weight: 400;
   color: rgb(25, 25, 25);
   border: 1px solid #ccc;
   cursor: pointer;
   border-radius: 0 4px 4px 0;
   width: 50px;
   transition: all 0.3s;
}

.add-button:hover {
   background-color: rgb(222, 255, 224);
   border: 1px solid rgb(151, 207, 155);
}

/* .heading {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: -16px;
} */
.parties {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding-bottom: 8px;
}
.party {
   font-size: 32px;
   font-weight: 500;
}
.party-row {
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: center;
   gap: 8px;
}
.selected-info {
   display: flex;
   flex-direction: column;
   font-size: 24px;
   margin-left: -4px;
   font-weight: 400;
}
/* .selected-item {
} */

.remove-hover:hover {
   color: rgb(174, 37, 37);
   text-decoration: line-through;
}

.deselect-button {
   background-color: rgb(114, 183, 229);
   border: 2px solid rgba(114, 183, 229, 0);
   font-size: 16px;
   font-weight: 400;
   color: rgb(25, 25, 25);
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
   transition: all 0.3s;
}

.deselect-button:hover {
   background-color: rgb(148, 203, 241);
   border: 2px solid rgb(99, 172, 224);
}

.info-box > .section {
   position: relative;
}
.info-box > .section > .absolute {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   pointer-events: none;
   /* justify-content: center;
   align-items: center; */
}
.info-box > .section > .absolute > .vert-line {
   height: 100%;
   width: 2px;
   border-radius: 8px;
   background-color: rgb(166, 166, 166);
}
.info-box > .section > .absolute > .header {
   color: rgb(121, 121, 121);
   font-size: 20px;
   font-weight: 400;
   margin-bottom: -4px;
   margin-left: -1px;
}
.info-box > .section > .content {
   padding-left: 24px;
   padding-top: 40px;
}
