.seat {
   width: 0.4in;
   height: 0.4in;
   border: 1px dashed black;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: -0.5px;
}
.seat.selected {
   border: 1px solid rgb(0, 0, 0);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   z-index: 20;
   background-color: rgb(140, 244, 255);
}
.seat.assigned {
   border: 1px solid black;
   z-index: 10;
}

.seat-id {
   color: black;
   font-size: 14px;
}

.invis {
   visibility: hidden;
}
